@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


/* Paleta de Colores */
:root {
    --primary-color: #3498db;
    --text-title-color: #2c3e50;
    --text-color: #32363b;
    --icon-colo: #32363b;
    --icon-menu-color: #707780;
    --menu-color: #707780;

    --text-selected-color: #355cc0;
    --background-selected: #ebf0ff;
    --background-hover: #f7f9fa;

    --border-color: #e6e9ed;

    /* Extras opcionales */
    --shadow-color: rgba(0, 0, 0, 0.1);
    /* Sombras */
    --radius: 8px;
}

/* Global CSS Variables */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    /*color: var(--text-color);
    background-color: var(--background-color);
    scroll-behavior: smooth;*/
}

/* Body */
body {
    width: 100%;
    height: 100vh;
    background-color: #D9F6C0;
}

/* Headers */
header {
    height: 72px;
    background-color: #F6F6F6;
    margin-left: 89px;            /* deja espacio al sidebar */
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
}
/* Left Section */
.left {
    min-width: calc(100vw - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

/* Menu y titulo Encabezado */

.menu {
    width: 32px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.menu div {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 2px 0;
    border-radius: 2px;
}

/* Menu vertical */
.sidebar {
    width: 89px;
    height: 100vh;
    background-color: #2E093F;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-right: 1px solid var(--border-color);
    overflow: auto;
    transition: width 0.5s ease;

}
.sidebar-section {
    position: fixed;
    top: 0px; /* debajo del header */
    left: 0;
    height: calc(100vh - 72px);
}

.sidebar.menu-toggle {
    width: 18rem;
}

.sidebar .menu-container {
    height: 72px;                 /* MISMA altura del header */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    gap: 10px;

    white-space: nowrap;
    overflow: hidden;
}

.sidebar a:hover, .sidebar a.active {
    background-color: rgba(255,255,255,0.15);
}

.sidebar a i {
    font-size: 1.4rem;
    width: 1.6rem;
}

/* Titulo de Library*/
.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6 rem;
}

.brand i {
    color: var(--primary-color);
    font-size: 1.5rem;
    width: 1.8rem;
}

.brand .name{
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text-title-color);
}

/* Right Section */
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}
.right i {
    width: 1.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
}
.right span {
    font-size: 16px;       /* tamaño de letra */
    font-weight: 600;
}


@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn-gestionar:hover i {
    animation: rotate 0.5s linear infinite;
}


/* Contenedor principal */
.container {
    min-height: calc(100vh - 120px);          /* ocupa toda la pantalla */
    display: flex;
    justify-content: center;    /* centra horizontal */
    align-items: center;        /* centra vertical */
}

/* Carta de contenido */
.contenido {
    background: white;
    padding: 40px;
    max-width: 600px;
    width: 90%;
    border-radius: 12px;
    box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
}

/* Título */
.contenido h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #1f2937;
}

/* Texto */
.contenido p {
    font-size: 16px;
    line-height: 1.6;
    color: #4b5563;
}

.main-content {
    margin-left: 89px;
    padding: 20px;
    min-height: calc(100vh - 72px);
    background-color: #D9F6C0;
}

footer {
    background-color: #F6F6F6;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #333;
}